:root {
  --primary-color: #db9d48;
  --secondary-color: #f5d09c;
  --special-font-color: #d26c64;
  --normal-font-color-white: #eeeeee;
  --normal-font-color-black: #333333;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header__logo-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.header__nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: var(--normal-font-color-white);
}

.header__buy-button {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: var(--normal-font-color-white);
  box-shadow: 0 0 12px 0 #333;
  padding: 1rem;
  border-radius: 12px;
}

.header__menu-open-button,
.header__nav-close-button {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 40px;
}

.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
}

.main__title-text {
  font-weight: 700;
  font-size: 4rem;
  color: var(--normal-font-color-white);
}

.main__title-text span {
  color: var(--special-font-color);
}

.main__img-illustration {
  width: 300px;
  height: 300px;
}

.products {
  margin-top: 50px;
  background-color: var(--secondary-color);
}

.products__text {
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  color: var(--normal-font-color-black);
}

.products__card {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 2rem;
  gap: 3rem;
}

.product {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 12px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 0 12px 0 #333333;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
}

.product__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.product__price {
  font-weight: bold;
}

.product__description {
  margin: 0;
}

.about-me__title {
  font-size: 3rem;
  text-align: center;
  color: var(--normal-font-color-white);
}

.about-me__title span {
  color: var(--special-font-color);
}

.about-me {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-me__container {
  max-width: 600px;
}

.about-me__container-text {
  font-size: 1.6rem;
}

.about-me__container-kara {
  width: 300px;
  height: 300px;
  float: left;
  object-fit: cover;
  shape-outside: circle();
  border-radius: 50%;
  margin: 0.5rem;
}

@media screen and (max-width: 780px) {
  .body__no-scroll {
    overflow: hidden;
  }

  .header__menu-open-button,
  .header__nav-close-button {
    display: block;
    border: 0;
    font-size: 3rem;
    background-color: transparent;
    color: var(--normal-font-color-white);
    cursor: pointer;
  }

  .header__menu-open-button {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2rem;
  }

  .header__nav {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    padding: 3rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .header__nav-visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .header__nav:not(.header__nav-visible) {
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: end;
  }

  .about-me__container-kara {
    width: 170px;
    height: 170px;
  }

  .about-me__container {
    max-width: 350px;
  }
}
